/*-----------------------------------------------------------
    Theme Name: Flip
    Theme URI: 
    Description: Flip 
    Author: 
    Author URI: 
    Version: 1.0
-------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
// Font Family Variable
$primary_font : 'Roboto', sans-serif;

//Color Variable
$clr_white: #fff;
$clr_black: #000;
$clr_emperor: #434444;
$clr_tundora: #444;
$clr_selago: #F4F7FE;
$clr_yellow: #FFC422;
$clr_mine_shaft: #252525;
$clr_catskill: #F9FAFC;
$clr_gray: #888888;
$clr_albastor: #f9f9f9;
$clr_athens: #F3F4F6;
$clr_amber:#FEC107;
$clr_green:#019446;
$clr_sand:#F5F5F5;
$clr_mercury:#E1E1E1;
$clr_tango:#E86121;
$clr_pink:#FFEBED;
$clr_sandy:#FFEDCD;
$clr_red:#FF3838;
$clr_panache:#F0F9F4;
$clr_mustard:#FFE35C;
$clr_conifar:#ACDA3C;
$clr_off_yellow:#FEFCE5;

$clr_olive:#6BA229;
$clr_green:#06A024;
$clr_cod:#111111;
$clr_spring:#FBFCF9;

/*---------------------------------
            General Styles 
-----------------------------------*/
*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:focus,
button:focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

a,
button,
input[type="submit"] {
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

a {
    color: $clr_black;
    text-transform: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover,
a :focus {
    text-decoration: none;
    box-shadow: none;
    color: $clr_black;
}

a:focus {
    outline: 0 solid;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.4;
    color: $clr_emperor;
}
body {
    font-size: 16px;
    font-family: $primary_font;
    color: $clr_emperor;
}
p {
    font-size: 16px;
    line-height: 1.8;
    color: $clr_emperor;
}

select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../img/down-arrow.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 94% 50%;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-75 {
    padding-top: 75px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-100 {
    padding-top: 100px;
}
.pt-200 {
    padding-top: 200px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-75 {
    padding-bottom: 75px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-130 {
    padding-bottom: 130px;
}

.ptb-10 {
    padding-bottom: 10px;
    padding-bottom: 10px;
}

.ptb-20 {
    padding-bottom: 20px;
    padding-bottom: 20px;
}

.ptb-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ptb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.ptb-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ptb-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.ptb-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.ptb-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.ptb-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}
.mb-90 {
    margin-bottom: 90px !important;
}
.mb-100 {
    margin-bottom: 100px !important;
}

.mmt-10 {
    margin-top: -10px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-35 {
    margin-top: 35px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-100 {
    margin-top: 100px !important;
}
.mtb-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}
#message {
    padding: 0;
    margin: 0;
}

.help-block {
    color: #E31C25;
}
ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        list-style: none;
    }
}

.page-wrapper {
    overflow-x: hidden;
}

/*---------------------------------
          Mixins & Animation CSS
-----------------------------------*/
@mixin transition($time) {
    -webkit-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}

@mixin transform($tr_amt) {
    -webkit-transform: $tr_amt;
    -moz-transform: $tr_amt;
    transform: $tr_amt;
}

@mixin transform-origin($trl_amt) {
    transform-origin: $trl_amt;
    -webkit-transform-origin: $trl_amt;
    -moz-transform-origin: $trl_amt;
    -ms-transform-origin: $trl_amt;
    -o-transform-origin: $trl_amt;
}

@mixin transform-style($trm_amt) {
    transform-style: $trm_amt;
    -webkit-transform-style: $trm_amt;
    -moz-transform-style: $trm_amt;
    -ms-transform-style: $trm_amt;
    -o-transform-style: $trm_amt;
}
%flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
%inline_flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
%flex_column_center {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
%inline_column_center {
    @extend %inline_flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
%flex_column_between {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
%flex_column_end {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
%align_center {
    @extend %flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
%align_start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
}
%align_end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
}
%flex_justify_between {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
%flex_justify_center {
    @extend %flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
%flex_justify_end {
    @extend %flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
%flex_justify_start {
    @extend %flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
%flex_start {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
%flex_start {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    -ms-grid-row-align: flex-start;
     align-items: flex-start;
}
%flex_between {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
%flex_end {
    @extend %flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}


/*---------------------------------
     Preloader CSS
-----------------------------------*/
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $clr_white;
    z-index: 20000;
    overflow-x: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader div{
    width: 12px;
    height: 12px;
    margin: 0 10px 0 0;
    border-radius: 50px;
    transform-origin: 50% 0;
    display: inline-block;
    animation: bouncing 1.4s linear infinite;
}
.loader div:last-child{ margin: 0; }
.loader div:nth-child(1){ background: rgba(1, 148, 70,0.9); }
.loader div:nth-child(2){
    background: rgba(1, 148, 70,0.7);
    animation-delay: 0.2s;
}
.loader div:nth-child(3){
    background: rgba(1, 148, 70,0.5);
    animation-delay: 0.4s;
}
@keyframes bouncing{
    0%, 100%{
        transform: translateY(0) scale(1, 1);
        animation-timing-function: ease-in;
    }
    45%{
        transform: translateY(80px) scale(1, 1);
        animation-timing-function: linear;
    }
    50%{
        transform: translateY(80px) scale(1.5, 0.5);
        animation-timing-function: linear;
    }
    55%{
        transform: translateY(80px) scale(1, 1);
        animation-timing-function: ease-out;
    }
}
/*---------------------------------
       Button & Link CSS
----------------------------------*/
.btn {
    display: inline-block;
    line-height: 26px;
    font-weight: 400;
    border-radius: 5px;
    text-align: center;
    @include transition(0.7s);
    position: relative;
    z-index: 1;
    border: none;
    padding: 14px 35px 14px;
    border-radius: 0;
    color: $clr_white;
    overflow: hidden;
    white-space: nowrap;
    i{
        position: relative;
        top: 3px;
        font-size: 16px;
        margin-left: 7px;
        @include transition(0.4s);
    }
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        content:"";
        width: 50%;
        height: 0;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        @include transition(0.4s);
    }
    &:after{
        position: absolute;
        bottom: 0;
        right: 0;
        content:"";
        width: 50%;
        height: 0;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        @include transition(0.4s);
    }
    &:hover{
        color: $clr_white;
        &:after,
        &:before{
            width: 100%;
            height: 100%;
            visibility: visible;
            opacity: 1;
        }
    }
    &.style1{
        background-color: $clr_green;
        &:after,
        &:before{
            background: $clr_mine_shaft;
        }
    }
}
 
.link {
    font-weight: 500;
    line-height: 26px;
    display: inline-block;
    position: relative;
    color: $clr_green;
    @include transition(0.4s);
    &.style1{
        color: $clr_white;
        font-size: 20px;
        line-height: 24px;
    }
}
.bg-transparent {
    background-color: transparent;
}
.bg-black {
    background-color: $clr_black;
}
.bg-green {
    background-color: $clr_green;
}
.bg-olive {
    background-color: $clr_olive;
}
.bg-f {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ddd;
}
/*-------------------------------
   User Login Section CSS
-------------------------------*/
.navbar-brand{
    img{
        max-width: 300px;
        image-rendering: -webkit-optimize-contrast;
    }
}
.header-wrap{
    padding: 30px 0;
}
.header-right{
    @extend %align_center;
    @extend %flex_justify_end;
    a{
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        color: #434444;
        text-transform: uppercase;
        margin-right: 45px;
    }
    .user-option{
        position: relative;
        cursor: pointer;
        span{
            &.user-icon{
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $clr_green;
                text-align: center;
                @include transition(0.3s);
                i{
                    color: $clr_white;
                    font-size: 24px;
                    line-height: 40px;
                }
            }
            &.user-optiontext{
                font-size: 14px;
                line-height: 20px;
                position: relative;
                top: -5px;
                margin-left:5px;
                i{
                    position: relative;
                    top: 4px;
                    font-size: 18px;
                    right: 0;
                }
            }
        }
        .user-option-list{
            position: absolute;
            top:55px;
            right: 0;
            min-width: 145px;
            background-color: #F5F5F5;
            padding: 10px;
            visibility: hidden;
            opacity: 0;
            @include transition(0.3s);
            &.open{
                visibility: visible;
                opacity: 1;
                top: 45px;
            }
            li{
                button{
                    font-size: 14px;
                    line-height: 20px;
                    text-transform: none;
                    background-color: transparent;
                    border: none;
                    width: 100%;
                    text-align: center;
                }
            }
        }
        &:hover{
            span{
                &.user-icon{
                    background-color: #EB7723;
                }
            }
        }
    }
}
/*-------------------------------
   User Login Section CSS
-------------------------------*/
@media all and (-ms-high-contrast:none){
    .login-wrapper{
        overflow-x: hidden;
        .user-form{
            .login-logo{
                width: 440px;
            }
        }
    }
    .upload-part .upload-form input[type="file"]{
        border: none;
    }
    .quote-form.style2 {
        width: calc(100% - 25px);
        position: relative;
        left: 25px;
    }
    .search-form button {
        top: 1px;
    }
    .search-form button i {
        position: relative;
        top: 2px;
    }
}
.user-form{
    .login-logo{
        display: block;
        max-width: 440px;
        margin: 0 auto 35px;
    }
    form{
        &.login-form{
            background-color: $clr_green;
            padding: 90px;
            .form-group{
                margin-bottom: 30px;
                label{
                    display: block;
                    color: $clr_white;
                    font-size: 20px;
                    line-height: 24px;
                    margin: 0 0 20px;
                }
                input{
                    width: 100%;
                    height: 57px;
                    padding: 10px 20px;
                    background-color: $clr_white;
                    border: none;
                    font-size: 20px;
                    line-height: 24px;
                    color: $clr_emperor;
                    &::placeholder{
                        color: #7E7E7E;
                        opacity: 1;
                    }
                }
            }
            button{
                display: block;
                width: 100%;
                padding: 18px 15px 16px;
                text-align: center;
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                color: #7E7E7E;
                text-transform: uppercase;
                background-color: $clr_white;
                margin-top: 60px;
            }
            .link{
                text-align: center;
                margin-top: 20px;
                display: block;
            }
        }
    }
}
/*-------------------------------
   User Dashboard CSS
-------------------------------*/
.db-wrap{
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #F9F9F9;

}
.db-menu-wrap{
    @extend %flex_column_center;
    @extend %align_center;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    h2{
        text-align: center;
        font-size: 45px;
        line-height: 61px;
        margin: 0 0 45px;
        display: block;
        width: 100%;
    }
    .db-menu{
        a{
            @extend %flex_column_center;
            @extend %align_center;
            text-align: center;
            padding: 30px;
            height: 220px;
            margin-bottom: 30px;
            span{
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                color: $clr_white;
                display: block;
                margin-top: 35px;
                width: 100%;
            }
            img{
                display: block;
                margin: 0 auto;
                max-width: 50px;
            }
        }
    }
}
.upload-part{
    padding: 55px 80px;
    h2{
        font-size: 51px;
        line-height: 61px;
        margin: 0 0 45px;
        display: block;
        text-align: center;
    }
    p{
        font-size: 22px;
        line-height: 27px;
        font-weight: 300;
        margin:  0 0 30px;
    }
    .link{
        margin-bottom: 60px;
        &.style2{
            position: relative;
            color: $clr_emperor;
            padding-left: 20px;
            font-size: 22px;
            font-weight: 500;
            line-height: 27px;
            text-decoration: underline;
            span{
                display:inline-block;
                width: 35px;
                height: 35px;
                text-align: center;
                position: relative;
                top: 7px;
                margin-left: 13px;
                background-color: $clr_green;
                img{
                    max-width: 14px;
                    display: block;
                    margin: 0 auto;
                    position: relative;
                    top: 9px;
                }
            }
            &::before{
                position: absolute;
                top: 22px;
                left: 0;
                content:"";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $clr_green;
            }
        }
    }
    .upload-form{
        label{
            display: block;
            margin: 0 0 45px;
            font-size: 22px;
            font-weight: 500;
            line-height: 27px;
        }
        input{
            width: 600px;
            background-color: transparent;
            border-bottom: 2px solid $clr_green;
            padding: 10px 0;
            cursor: pointer;
        }
        button{
            background-color: $clr_green;
            color: $clr_white;
            border: none;
            padding:8px 40px;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 20px;
            box-shadow: 1px 2px 8px #00000066;
            border-radius: 3px;
            opacity: 1;
        }
    }
    .upload-error-text{
        color: $clr_emperor;
        margin: 30px 0 0;
        font-size: 16px;
        a{
            color: $clr_green;
            font-weight: 400;
        }
    }
    &.style2{
       text-align: center;
       h5{
           color: $clr_green;
           font-weight: 500;
           display: block;
           margin: 50px 0 60px;
           font-size: 40px;
           line-height: 48px;
       } 
       p{
           margin: 0 0 70px;
       }
       a{
           &.btn{
                display: block;
                width: 100%;
                text-transform: uppercase;
                font-weight: 500;
           }
       }
    }
}
.upload-part{
    a{
        &.btn{
            &.style1{
                padding: 16px 10px;
                width: 100%;
                font-weight: 500;
            }
        }
    }
}
.quote-form{
    background-color: $clr_white;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0,0,0,0.07);
    border-radius: 5px;
    &.style2{
        width: 100%;
    }
    h3{
        font-size: 40px;
        line-height: 41px;
        text-align: center;
        margin: 0 0 30px;
    }
    .form-group{
        margin-bottom: 25px;
        input{
            width: 100%;
            padding:15px 0;
            border: none;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            color: $clr_black;
            &::placeholder{
                opacity: 0.5;
            }
            &:focus{
                border-bottom: 2px solid $clr_green;
            }
        }
    }
    button{
        margin: 80px auto 0;
        display: block;
        &.style1{
            box-shadow: 1px 2px 8px #00000066;
            border-radius: 5px;
            padding: 10px 55px;
            font-weight: 500;
        }
    }
}
.upload-part{
    .success-msg{
        color: $clr_green;
        font-size: 18px;
        line-height: 24px;
        margin: 22px 0 0;
        text-align: center;
    }
}

.parts-table-wrap{
    background-color: $clr_white;
    padding: 45px 30px 50px;
    box-shadow: 0 0 15px rgba(0,0,0,0.09);
    margin-bottom: 50px;
}
.parts-table{
    margin: 35px 0 0;
    &.style2{
        table{
            thead{
                tr{
                    th{
                        color:#333;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    }
                }
            }
            tbody{
                tr{
                    td{
                        border-top: 1px solid rgba(0, 0, 0, 0.1);
                        span{
                            float: right;
                            text-align: center;
                            display: block;
                            width: 120px;
                        }
                    }
                }
            }
        }
    }
    table{
        thead{
            tr{
                th{
                    font-size: 14px;
                    line-height: 21px;
                    color: #666;
                    text-align: center;
                    padding: 20px 10px;
                    border-bottom: 3px solid rgba(0,0,0,0.1);
                    &:nth-child(1){
                        text-align: left;
                    }
                }
            }
        }
        tbody{
            tr{
                &:nth-child(odd){
                    background-color: #f2f2f2;
                }
                td{
                    color: #111;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    padding: 24px 10px;
                    border-bottom: 1px solid rgba(0,0,0,0.08);
                    &:nth-child(1){
                        text-align: left;
                    }
                    a{
                        color: #0080FF;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.parts-table.style2 .table > :not(:first-child) {
	border-top: none;
}
.page-nav{
    li{
        display: inline-block;
        margin-right: 6px;
        &:last-child{
            margin-right: 0;
        }
        a{
            display: inline-block;
            padding: 8px 13px;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            text-align: center;
            border: 1px solid $clr_green;
            @include transition(0.4s);
            &:hover{
                background-color: $clr_green;
                border-color: transparent;
                color: $clr_white;
            }
        }
    }
}
.upload-part{
    .page-nav-text{
        font-size: 14px;
        line-height: 21px;
        font-weight: 300;
        margin-bottom: 0;
    }
}

.parts-qty{
    @extend %align_center;
}
.parts-qty{
    .qtySelector {
        position: relative;
        height: 42px;
        width: 95px;
        margin:0  12px;
        border: 0.5px solid #AAAAAA;
        background-color: #F9F9F9;
        border-radius: 5px;
        span {
            width: 28px;
            position: absolute;
            right: 0;
            height: 21px;
            background: transparent;
            border: none;
            cursor: pointer;
            display: block;
            text-align: center;
            line-height: 42px;
            font-size: 20px;
            color: $clr_black;
            opacity: 0.8;
            i{
                color: #888;
            }
            &.decreaseQty {
                bottom: 11px;
            }
            &.increaseQty {
                top: -6px;
            }
        }
        input {
            width: calc(100% - 30px);
            background: transparent;
            border: none;
            position: relative;
            height: 42px;
            top: -1px;
            text-align: left;
            padding-left: 10px;
            color: $clr_black;
        }
    }
}
.search-form{
    text-align: right;
    input{
        width: 200px;
        margin-left: 6px;
        border:0.5px solid #AAAAAA;
        border-right: none;
        border-radius: 3px;
        height: 42px;
        padding: 5px 10px;
        margin-left: 5px;
    }
    button{
        background-color: $clr_green;
        border: none;
        border-radius: 0;
        height: 42px;
        padding: 5px 12px;
        position: relative;
        top: 2px;
        left: -5px;
        i{
            color: $clr_white;
            font-size: 18px;
        }
    }
}
/*-------------------------------
   Responsive CSS
-------------------------------*/
@media only screen and (max-width:767px) {
    .mb-50{
        margin-bottom: 10px !important;
    }
    .sm-none{
        display: none!important;
    }
    .navbar-brand{
        img{
            max-width: 200px;
        }
    }
    .user-optiontext{
        display: none;
    }
    .mobile-menu-bar{
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.3);
        text-align: center;
        cursor: pointer;
        margin-left: 20px;
        i{
            font-size: 20px;
            line-height: 40px;
            color: $clr_emperor;
        }
    }
    .mobile-menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color:#F5F5F5;
        padding: 50px 25px 50px;
        @include transition(0.4s);
        z-index: 999;
        &.open{
            left: 0;
        }
        a{
            display: block;
            width: 100%;
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 20px;
        }
        .close-mobile-menu{
            background-color: transparent;
            border: none;
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 0;
            i{
                font-size: 20px;
                line-height: 24px;
                color: $clr_emperor;
            }
        }
    }
    .user-form{
        margin-top: 50px;
    }
    .user-form h2 {
        font-size: 24px;
        line-height:34px;
    }
    .user-form{
        .login-logo{
            display: block;
            max-width: 260px;
            margin: 0 auto 25px;
        }
        form{
            &.login-form{
                padding: 30px;
                .form-group{
                    margin-bottom: 20px;
                    label{
                        font-size: 16px;
                        line-height: 20px;
                        margin: 0 0 15px;
                    }
                    input{
                        height: 57px;
                        padding: 10px 15px;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
                button{
                    padding: 16px;
                    font-size: 16px;
                    line-height: 20px;
                    margin-top: 40px;
                }
            }
        }
    }
    .upload-part .upload-error-text {
        font-size: 14px;
    }
     //Dashboard CSS
     .db-wrap{
         padding: 50px 20px 60px 20px!important;
     }
     //Dashboard CSS
     .db-menu-wrap{
         padding: 0  50px;
        h2{
            font-size: 24px;
            line-height: 36px;
            margin: 0 0 20px;
        }
        .db-menu{
            a{
                padding: 12px;
                height: 180px;
                margin: 5px 5px 30px;
                padding: 15px 20px;
                span{
                    font-size: 15px;
                    line-height: 24px;
                    margin-top: 20px;
                }
                img{
                    max-width: 34px;
                }
            }
        }
    }
    .upload-part{
        padding: 0;
        h2{
            font-size: 24px;
            line-height: 34px;
            margin: 0 0 20px;
        }
        p{
            font-size: 14px;
            line-height: 20px;
            margin:  0 0 20px;
        }
        .link{
            margin-bottom: 30px;
            &.style2{
                padding-left: 15px;
                font-size: 14px;
                line-height: 22px;
                span{
                    width: 25px;
                    height: 25px;
                    top: 7px;
                    img{
                        max-width: 9px;
                        top: 8px;
                    }
                }
                &::before{
                    top: 16px;
                }
            }
        }
        .upload-form{
            label{
                margin: 0 0 20px;
                font-size: 14px;
                line-height: 20px;
            }
            input{
                width: 100%;
            }
            button{
                margin-top: 20px;
            }
        }
        &.style2{
            h5{
                margin: 30px 0 25px;
                font-size: 22px;
                line-height: 32px;
            } 
            p{
                margin: 0 0 40px;
            }
        }
    }
    .quote-form {
        padding: 25px 25px 35px;
    }
    .quote-form h3 {
        font-size: 22px;
        line-height: 36px;
    }
    .upload-part a.btn.style1 {
        min-width: 100%;
    }
    .parts-table-wrap {
        padding: 35px 20px 40px;
        margin-bottom: 40px;
    }
    .search-form {
        label{
            display: block;
            margin: 0 0 10px;
        }
        input{
            margin: 0;
        }
    }
    .parts-table{
        width: 100%;
        overflow-x:auto;
    }
    .parts-table {
        margin: 15px 0 0;
    }
    .parts-table table thead tr th,
    .parts-table table tbody tr td{
        min-width: 100px;
    }
    .upload-part .parts-table table thead tr th{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .page-nav li {
        margin-bottom: 8px;
    }
}
@media only screen and (min-width:576px) and (max-width:767px) {
    .db-menu-wrap{
        padding: 10px 120px 10px!important;
    }
}
@media only screen and (min-width:768px) {
    .mobile-menu,
    .mobile-menu-bar{
        display: none;
    }
    .quote-form{
        width: 600px;
    }
}
@media only screen and (max-width:991px) {
    .page-nav{
        margin-top: 30px;
    }
    .search-form {
        text-align: left;
        margin-top: 20px;
    }
    .quote-form.style2{
        margin-top: 50px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .header-right a {
        font-size: 16px;
        margin-right: 35px;
    }
    .user-form h2 {
        font-size: 38px;
        line-height: 42px;
    }
    .user-form form.login-form {
        padding: 50px;
    }
    //Dashboard CSS
    .db-menu-wrap{
        padding:10px 70px;
        h2{
            font-size: 30px;
            line-height: 42px;
            margin: 0 0 20px;
        }
        .db-menu{
            a{
                height: 220px;
                margin: 10px 10px 30px;
                padding: 20px 25px;
                span{
                    font-size: 16px;
                }
                img{
                    max-width: 40px;
                }
            }
        }
    }
}
@media only screen and (min-width:992px) {
    .user-form{
        form{
            &.login-form{
               width: 738px;
               margin: 0 auto;
            }
        }
    }
    .quote-form{
        width: 770px;
    }
   
}
@media only screen and  (max-width:1199px) {
    .user-form{
        padding: 80px 0 0px;
    }
    .db-wrap{
        padding: 50px 0 60px;
    }
    // .user-form{
    //     height:100vh;
    //     overflow-y: auto;
    //     display: -webkit-box;
    //     display: -ms-flexbox;
    //     display: flex;
    //     -webkit-box-orient: vertical;
    //     -webkit-box-direction: normal;
    //         -ms-flex-direction: column;
    //             flex-direction: column;
    //     -webkit-box-pack: center;
    //         -ms-flex-pack: center;
    //             justify-content: center;
    // }
    
}
@media only screen and (min-width:768px) and (max-width:1199px) {
    .upload-part{
        padding: 55px 50px;
        h2{
            font-size: 34px;
            line-height: 40px;
            margin: 0 0 25px;
        }
        p{
            font-size: 16px;
            line-height: 23px;
            margin:  0 0 20px;
        }
        .link{
            margin-bottom: 40px;
            &.style2{
                padding-left: 20px;
                font-size: 16px;
                line-height: 22px;
                span{
                    width: 30px;
                    height: 30px;
                    top: 7px;
                    img{
                        max-width: 10px;
                        top: 9px;
                    }
                }
                &::before{
                    top: 20px;
                }
            }
        }
        .upload-form{
            label{
                margin: 0 0 25px;
                font-size: 16px;
                line-height: 22px;
            }
            input{
                width: 430px;
            }
        }
        &.style2{
            h5{
                margin: 40px 0 30px;
                font-size: 34px;
                line-height: 42px;
            } 
            p{
                margin: 0 0 40px;
            }
        }
    }
    .quote-form h3 {
        font-size: 30px;
        line-height: 36px;
    }
}
@media only screen and (min-width:992px) and (max-width:1199px) {
    .user-form h2 {
        font-size: 38px;
        line-height: 42px;
    }
    .user-form form.login-form {
        padding: 50px;
    }
    .db-wrap{
        .db-menu-wrap{
            padding: 10px 70px;
            a{
                padding: 10px 20px;
                span{
                    font-size: 16px;
                    line-height: 28px;
                }
            }
            h2{
                font-size: 32px;
            }
            .db-menu{
                &.style2{
                    a{
                        min-width:240px;
                    }
                }
            }
        }
    }
    
}
@media only screen and (min-width:1200px) {
    .login-wrapper{
        &.style2{
            height: 100%;
            overflow: auto;
        }
    }
    .user-form{
        padding: 100px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .db-wrap{
        &.style2{
            height: auto;
        }
    }
}

@media only screen and (min-width:1200px) and (max-width:1299px) {
    .db-wrap{
        &.style3{
            padding-bottom: 180px;
        }
    }
}
@media only screen and (min-width:1200px) and (max-width:1399px) {
    .user-form {
        h2 {
            font-size: 32px;
            line-height: 40px;
        }
        form{
            &.login-form {
                padding: 30px 40px;
                .form-group{
                    margin-bottom: 20px;
                    label{
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    input{
                        height: 54px;
                        padding: 10px 15px;
                        font-size: 16px;
                    }
                }
                button{
                    padding: 15px;
                    margin-top: 25px;
                    font-size: 16px;
                }
            }
        }
    }
    //Dashboard CSS
    .db-menu-wrap{
        padding: 40px 250px 40px;
        height: 100%;
        h2{
            font-size: 32px;
            line-height: 46px;
            margin: 0 0 20px;
        }
        .db-menu{
            a{
                height: 160px;
                margin: 0 0 20px;
                text-align: center;
                padding: 10px 25px;
                span{
                    font-size: 14px;
                    line-height: 24px;
                    margin-top: 20px;
                }
                img{
                    max-width: 34px;
                }
            }
            &.style2{
                a{
                    max-width: 190px;
                }
            }
        }
    }
    .upload-part{
        padding: 55px 50px;
        h2{
            font-size: 34px;
            line-height: 40px;
            margin: 0 0 25px;
        }
        p{
            font-size: 16px;
            line-height: 23px;
            margin:  0 0 20px;
        }
        .link{
            margin-bottom: 40px;
            &.style2{
                padding-left: 20px;
                font-size: 16px;
                line-height: 22px;
                span{
                    width: 30px;
                    height: 30px;
                    top: 7px;
                    img{
                        max-width: 10px;
                        top: 9px;
                    }
                }
                &::before{
                    top: 20px;
                }
            }
        }
        .upload-form{
            label{
                margin: 0 0 25px;
                font-size: 16px;
                line-height: 22px;
            }
        }
        &.style2{
            h5{
                margin: 40px 0 30px;
                font-size: 34px;
                line-height: 42px;
            } 
            p{
                margin: 0 0 40px;
            }
        }
    }
    //RFQ CSS
    .quote-form h3 {
        font-size: 30px;
        line-height: 36px;
    }
}
@media only screen and (min-width:1300px) and (max-width:1399px) {
    .db-wrap{
        &.style3{
            padding-bottom: 80px;
        }
    }
}
@media only screen and (min-width:1400px) {
   .db-wrap{
        .db-menu-wrap{
            padding-left: 220px;
            padding-right: 220px;
            a{
                padding: 20px 20px;
                height: 220px;
                margin: 10px 10px 30px;
            }
        }
        .db-menu{
            &.style2{
                a{
                    max-width: 250px;
                }
            }
        }
   }
    .user-form{
        padding-top: 125px;
    }
    .db-wrap{
        &.style3{
            padding-bottom: 180px;
        }
    }
    .upload-part h2 {
        font-size: 40px;
    }
}

@media only screen and (min-width:1600px) {
    .user-form{
        padding-top: 125px;
    }
    .db-wrap{
        &.style3{
            padding-bottom: 180px;
        }
    }
    .upload-part h2 {
        font-size: 40px;
    }
}
@media only screen and (min-width:1920px) {
    .user-form{
        padding-top: 135px;
        .login-logo{
            max-width: 500px;
        }
    }
    .container{
        max-width: 1780px;
    } 
    .db-wrap{
        .db-menu-wrap{
            padding-left: 410px;
            padding-right:  410px;
            a{
                padding: 20px 25px;
                height: 240px;
                margin: 10px 10px 30px;
            }
            .db-menu{
                &.style2{
                    a{
                        max-width: 278px;
                    }
                }
            }
        }
        &.style3{
            padding-bottom: 200px;
        }
    }
    .upload-part h2 {
        font-size: 45px;
    }
   
}
@media all and (-ms-high-contrast:none){
    .db-wrap .db-menu-wrap a {
        margin: 10px 20px 30px!important;
    }
}
