/*-----------------------------------------------------------
    Theme Name: Flip
    Theme URI: 
    Description: Flip 
    Author: 
    Author URI: 
    Version: 1.0
-------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/*---------------------------------
            General Styles 
-----------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:focus,
button:focus,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

a,
button,
input[type="submit"] {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  color: #000;
  text-transform: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover,
a :focus {
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000;
}

a:focus {
  outline: 0 solid;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.4;
  color: #434444;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #434444;
}

p {
  font-size: 16px;
  line-height: 1.8;
  color: #434444;
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/down-arrow.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 94% 50%;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-130 {
  padding-bottom: 130px;
}

.ptb-10 {
  padding-bottom: 10px;
  padding-bottom: 10px;
}

.ptb-20 {
  padding-bottom: 20px;
  padding-bottom: 20px;
}

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ptb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ptb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.ptb-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.mmt-10 {
  margin-top: -10px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mtb-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

#message {
  padding: 0;
  margin: 0;
}

.help-block {
  color: #E31C25;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol li,
ul li {
  list-style: none;
}

.page-wrapper {
  overflow-x: hidden;
}

/*---------------------------------
          Mixins & Animation CSS
-----------------------------------*/
.db-menu-wrap, .db-menu-wrap .db-menu a, .header-right, .parts-qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.db-menu-wrap, .db-menu-wrap .db-menu a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-right, .db-menu-wrap, .db-menu-wrap .db-menu a, .parts-qty {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.header-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/*---------------------------------
     Preloader CSS
-----------------------------------*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 20000;
  overflow-x: hidden !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader div {
  width: 12px;
  height: 12px;
  margin: 0 10px 0 0;
  border-radius: 50px;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  display: inline-block;
  -webkit-animation: bouncing 1.4s linear infinite;
          animation: bouncing 1.4s linear infinite;
}

.loader div:last-child {
  margin: 0;
}

.loader div:nth-child(1) {
  background: rgba(1, 148, 70, 0.9);
}

.loader div:nth-child(2) {
  background: rgba(1, 148, 70, 0.7);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader div:nth-child(3) {
  background: rgba(1, 148, 70, 0.5);
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes bouncing {
  0%, 100% {
    -webkit-transform: translateY(0) scale(1, 1);
            transform: translateY(0) scale(1, 1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: translateY(80px) scale(1, 1);
            transform: translateY(80px) scale(1, 1);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  50% {
    -webkit-transform: translateY(80px) scale(1.5, 0.5);
            transform: translateY(80px) scale(1.5, 0.5);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  55% {
    -webkit-transform: translateY(80px) scale(1, 1);
            transform: translateY(80px) scale(1, 1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bouncing {
  0%, 100% {
    -webkit-transform: translateY(0) scale(1, 1);
            transform: translateY(0) scale(1, 1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: translateY(80px) scale(1, 1);
            transform: translateY(80px) scale(1, 1);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  50% {
    -webkit-transform: translateY(80px) scale(1.5, 0.5);
            transform: translateY(80px) scale(1.5, 0.5);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  55% {
    -webkit-transform: translateY(80px) scale(1, 1);
            transform: translateY(80px) scale(1, 1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

/*---------------------------------
       Button & Link CSS
----------------------------------*/
.btn {
  display: inline-block;
  line-height: 26px;
  font-weight: 400;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  position: relative;
  z-index: 1;
  border: none;
  padding: 14px 35px 14px;
  border-radius: 0;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
}

.btn i {
  position: relative;
  top: 3px;
  font-size: 16px;
  margin-left: 7px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 50%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 50%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  color: #fff;
}

.btn:hover:after, .btn:hover:before {
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
}

.btn.style1 {
  background-color: #06A024;
}

.btn.style1:after, .btn.style1:before {
  background: #252525;
}

.link {
  font-weight: 500;
  line-height: 26px;
  display: inline-block;
  position: relative;
  color: #06A024;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.link.style1 {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
}

.bg-transparent {
  background-color: transparent;
}

.bg-black {
  background-color: #000;
}

.bg-green {
  background-color: #06A024;
}

.bg-olive {
  background-color: #6BA229;
}

.bg-f {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ddd;
}

/*-------------------------------
   User Login Section CSS
-------------------------------*/
.navbar-brand img {
  max-width: 300px;
  image-rendering: -webkit-optimize-contrast;
}

.header-wrap {
  padding: 30px 0;
}

.header-right a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #434444;
  text-transform: uppercase;
  margin-right: 45px;
}

.header-right .user-option {
  position: relative;
  cursor: pointer;
}

.header-right .user-option span.user-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #06A024;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-right .user-option span.user-icon i {
  color: #fff;
  font-size: 24px;
  line-height: 40px;
}

.header-right .user-option span.user-optiontext {
  font-size: 14px;
  line-height: 20px;
  position: relative;
  top: -5px;
  margin-left: 5px;
}

.header-right .user-option span.user-optiontext i {
  position: relative;
  top: 4px;
  font-size: 18px;
  right: 0;
}

.header-right .user-option .user-option-list {
  position: absolute;
  top: 55px;
  right: 0;
  min-width: 145px;
  background-color: #F5F5F5;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-right .user-option .user-option-list.open {
  visibility: visible;
  opacity: 1;
  top: 45px;
}

.header-right .user-option .user-option-list li button {
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: center;
}

.header-right .user-option:hover span.user-icon {
  background-color: #EB7723;
}

/*-------------------------------
   User Login Section CSS
-------------------------------*/
@media all and (-ms-high-contrast: none) {
  .login-wrapper {
    overflow-x: hidden;
  }
  .login-wrapper .user-form .login-logo {
    width: 440px;
  }
  .upload-part .upload-form input[type="file"] {
    border: none;
  }
  .quote-form.style2 {
    width: calc(100% - 25px);
    position: relative;
    left: 25px;
  }
  .search-form button {
    top: 1px;
  }
  .search-form button i {
    position: relative;
    top: 2px;
  }
}

.user-form .login-logo {
  display: block;
  max-width: 440px;
  margin: 0 auto 35px;
}

.user-form form.login-form {
  background-color: #06A024;
  padding: 90px;
}

.user-form form.login-form .form-group {
  margin-bottom: 30px;
}

.user-form form.login-form .form-group label {
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 20px;
}

.user-form form.login-form .form-group input {
  width: 100%;
  height: 57px;
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  line-height: 24px;
  color: #434444;
}

.user-form form.login-form .form-group input::-webkit-input-placeholder {
  color: #7E7E7E;
  opacity: 1;
}

.user-form form.login-form .form-group input:-ms-input-placeholder {
  color: #7E7E7E;
  opacity: 1;
}

.user-form form.login-form .form-group input::-ms-input-placeholder {
  color: #7E7E7E;
  opacity: 1;
}

.user-form form.login-form .form-group input::placeholder {
  color: #7E7E7E;
  opacity: 1;
}

.user-form form.login-form button {
  display: block;
  width: 100%;
  padding: 18px 15px 16px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #7E7E7E;
  text-transform: uppercase;
  background-color: #fff;
  margin-top: 60px;
}

.user-form form.login-form .link {
  text-align: center;
  margin-top: 20px;
  display: block;
}

/*-------------------------------
   User Dashboard CSS
-------------------------------*/
.db-wrap {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #F9F9F9;
}

.db-menu-wrap {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.db-menu-wrap h2 {
  text-align: center;
  font-size: 45px;
  line-height: 61px;
  margin: 0 0 45px;
  display: block;
  width: 100%;
}

.db-menu-wrap .db-menu a {
  text-align: center;
  padding: 30px;
  height: 220px;
  margin-bottom: 30px;
}

.db-menu-wrap .db-menu a span {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
  display: block;
  margin-top: 35px;
  width: 100%;
}

.db-menu-wrap .db-menu a img {
  display: block;
  margin: 0 auto;
  max-width: 50px;
}

.upload-part {
  padding: 55px 80px;
}

.upload-part h2 {
  font-size: 51px;
  line-height: 61px;
  margin: 0 0 45px;
  display: block;
  text-align: center;
}

.upload-part p {
  font-size: 22px;
  line-height: 27px;
  font-weight: 300;
  margin: 0 0 30px;
}

.upload-part .link {
  margin-bottom: 60px;
}

.upload-part .link.style2 {
  position: relative;
  color: #434444;
  padding-left: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: underline;
}

.upload-part .link.style2 span {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  position: relative;
  top: 7px;
  margin-left: 13px;
  background-color: #06A024;
}

.upload-part .link.style2 span img {
  max-width: 14px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 9px;
}

.upload-part .link.style2::before {
  position: absolute;
  top: 22px;
  left: 0;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #06A024;
}

.upload-part .upload-form label {
  display: block;
  margin: 0 0 45px;
  font-size: 22px;
  font-weight: 500;
  line-height: 27px;
}

.upload-part .upload-form input {
  width: 600px;
  background-color: transparent;
  border-bottom: 2px solid #06A024;
  padding: 10px 0;
  cursor: pointer;
}

.upload-part .upload-form button {
  background-color: #06A024;
  color: #fff;
  border: none;
  padding: 8px 40px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  -webkit-box-shadow: 1px 2px 8px #00000066;
          box-shadow: 1px 2px 8px #00000066;
  border-radius: 3px;
  opacity: 1;
}

.upload-part .upload-error-text {
  color: #434444;
  margin: 30px 0 0;
  font-size: 16px;
}

.upload-part .upload-error-text a {
  color: #06A024;
  font-weight: 400;
}

.upload-part.style2 {
  text-align: center;
}

.upload-part.style2 h5 {
  color: #06A024;
  font-weight: 500;
  display: block;
  margin: 50px 0 60px;
  font-size: 40px;
  line-height: 48px;
}

.upload-part.style2 p {
  margin: 0 0 70px;
}

.upload-part.style2 a.btn {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
}

.upload-part a.btn.style1 {
  padding: 16px 10px;
  width: 100%;
  font-weight: 500;
}

.quote-form {
  background-color: #fff;
  margin: 0 auto;
  padding: 40px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

.quote-form.style2 {
  width: 100%;
}

.quote-form h3 {
  font-size: 40px;
  line-height: 41px;
  text-align: center;
  margin: 0 0 30px;
}

.quote-form .form-group {
  margin-bottom: 25px;
}

.quote-form .form-group input {
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
}

.quote-form .form-group input::-webkit-input-placeholder {
  opacity: 0.5;
}

.quote-form .form-group input:-ms-input-placeholder {
  opacity: 0.5;
}

.quote-form .form-group input::-ms-input-placeholder {
  opacity: 0.5;
}

.quote-form .form-group input::placeholder {
  opacity: 0.5;
}

.quote-form .form-group input:focus {
  border-bottom: 2px solid #06A024;
}

.quote-form button {
  margin: 80px auto 0;
  display: block;
}

.quote-form button.style1 {
  -webkit-box-shadow: 1px 2px 8px #00000066;
          box-shadow: 1px 2px 8px #00000066;
  border-radius: 5px;
  padding: 10px 55px;
  font-weight: 500;
}

.upload-part .success-msg {
  color: #06A024;
  font-size: 18px;
  line-height: 24px;
  margin: 22px 0 0;
  text-align: center;
}

.parts-table-wrap {
  background-color: #fff;
  padding: 45px 30px 50px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.09);
  margin-bottom: 50px;
}

.parts-table {
  margin: 35px 0 0;
}

.parts-table.style2 table thead tr th {
  color: #333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.parts-table.style2 table tbody tr td {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.parts-table.style2 table tbody tr td span {
  float: right;
  text-align: center;
  display: block;
  width: 120px;
}

.parts-table table thead tr th {
  font-size: 14px;
  line-height: 21px;
  color: #666;
  text-align: center;
  padding: 20px 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.parts-table table thead tr th:nth-child(1) {
  text-align: left;
}

.parts-table table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.parts-table table tbody tr td {
  color: #111;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding: 24px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.parts-table table tbody tr td:nth-child(1) {
  text-align: left;
}

.parts-table table tbody tr td a {
  color: #0080FF;
  text-decoration: underline;
}

.parts-table.style2 .table > :not(:first-child) {
  border-top: none;
}

.page-nav li {
  display: inline-block;
  margin-right: 6px;
}

.page-nav li:last-child {
  margin-right: 0;
}

.page-nav li a {
  display: inline-block;
  padding: 8px 13px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  border: 1px solid #06A024;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.page-nav li a:hover {
  background-color: #06A024;
  border-color: transparent;
  color: #fff;
}

.upload-part .page-nav-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  margin-bottom: 0;
}

.parts-qty .qtySelector {
  position: relative;
  height: 42px;
  width: 95px;
  margin: 0  12px;
  border: 0.5px solid #AAAAAA;
  background-color: #F9F9F9;
  border-radius: 5px;
}

.parts-qty .qtySelector span {
  width: 28px;
  position: absolute;
  right: 0;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 42px;
  font-size: 20px;
  color: #000;
  opacity: 0.8;
}

.parts-qty .qtySelector span i {
  color: #888;
}

.parts-qty .qtySelector span.decreaseQty {
  bottom: 11px;
}

.parts-qty .qtySelector span.increaseQty {
  top: -6px;
}

.parts-qty .qtySelector input {
  width: calc(100% - 30px);
  background: transparent;
  border: none;
  position: relative;
  height: 42px;
  top: -1px;
  text-align: left;
  padding-left: 10px;
  color: #000;
}

.search-form {
  text-align: right;
}

.search-form input {
  width: 200px;
  margin-left: 6px;
  border: 0.5px solid #AAAAAA;
  border-right: none;
  border-radius: 3px;
  height: 42px;
  padding: 5px 10px;
  margin-left: 5px;
}

.search-form button {
  background-color: #06A024;
  border: none;
  border-radius: 0;
  height: 42px;
  padding: 5px 12px;
  position: relative;
  top: 2px;
  left: -5px;
}

.search-form button i {
  color: #fff;
  font-size: 18px;
}

/*-------------------------------
   Responsive CSS
-------------------------------*/
@media only screen and (max-width: 767px) {
  .mb-50 {
    margin-bottom: 10px !important;
  }
  .sm-none {
    display: none !important;
  }
  .navbar-brand img {
    max-width: 200px;
  }
  .user-optiontext {
    display: none;
  }
  .mobile-menu-bar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
  }
  .mobile-menu-bar i {
    font-size: 20px;
    line-height: 40px;
    color: #434444;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    padding: 50px 25px 50px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: 999;
  }
  .mobile-menu.open {
    left: 0;
  }
  .mobile-menu a {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  .mobile-menu .close-mobile-menu {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
  }
  .mobile-menu .close-mobile-menu i {
    font-size: 20px;
    line-height: 24px;
    color: #434444;
  }
  .user-form {
    margin-top: 50px;
  }
  .user-form h2 {
    font-size: 24px;
    line-height: 34px;
  }
  .user-form .login-logo {
    display: block;
    max-width: 260px;
    margin: 0 auto 25px;
  }
  .user-form form.login-form {
    padding: 30px;
  }
  .user-form form.login-form .form-group {
    margin-bottom: 20px;
  }
  .user-form form.login-form .form-group label {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 15px;
  }
  .user-form form.login-form .form-group input {
    height: 57px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 20px;
  }
  .user-form form.login-form button {
    padding: 16px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 40px;
  }
  .upload-part .upload-error-text {
    font-size: 14px;
  }
  .db-wrap {
    padding: 50px 20px 60px 20px !important;
  }
  .db-menu-wrap {
    padding: 0  50px;
  }
  .db-menu-wrap h2 {
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 20px;
  }
  .db-menu-wrap .db-menu a {
    padding: 12px;
    height: 180px;
    margin: 5px 5px 30px;
    padding: 15px 20px;
  }
  .db-menu-wrap .db-menu a span {
    font-size: 15px;
    line-height: 24px;
    margin-top: 20px;
  }
  .db-menu-wrap .db-menu a img {
    max-width: 34px;
  }
  .upload-part {
    padding: 0;
  }
  .upload-part h2 {
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 20px;
  }
  .upload-part p {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 20px;
  }
  .upload-part .link {
    margin-bottom: 30px;
  }
  .upload-part .link.style2 {
    padding-left: 15px;
    font-size: 14px;
    line-height: 22px;
  }
  .upload-part .link.style2 span {
    width: 25px;
    height: 25px;
    top: 7px;
  }
  .upload-part .link.style2 span img {
    max-width: 9px;
    top: 8px;
  }
  .upload-part .link.style2::before {
    top: 16px;
  }
  .upload-part .upload-form label {
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 20px;
  }
  .upload-part .upload-form input {
    width: 100%;
  }
  .upload-part .upload-form button {
    margin-top: 20px;
  }
  .upload-part.style2 h5 {
    margin: 30px 0 25px;
    font-size: 22px;
    line-height: 32px;
  }
  .upload-part.style2 p {
    margin: 0 0 40px;
  }
  .quote-form {
    padding: 25px 25px 35px;
  }
  .quote-form h3 {
    font-size: 22px;
    line-height: 36px;
  }
  .upload-part a.btn.style1 {
    min-width: 100%;
  }
  .parts-table-wrap {
    padding: 35px 20px 40px;
    margin-bottom: 40px;
  }
  .search-form label {
    display: block;
    margin: 0 0 10px;
  }
  .search-form input {
    margin: 0;
  }
  .parts-table {
    width: 100%;
    overflow-x: auto;
  }
  .parts-table {
    margin: 15px 0 0;
  }
  .parts-table table thead tr th,
  .parts-table table tbody tr td {
    min-width: 100px;
  }
  .upload-part .parts-table table thead tr th {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .page-nav li {
    margin-bottom: 8px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .db-menu-wrap {
    padding: 10px 120px 10px !important;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-bar {
    display: none;
  }
  .quote-form {
    width: 600px;
  }
}

@media only screen and (max-width: 991px) {
  .page-nav {
    margin-top: 30px;
  }
  .search-form {
    text-align: left;
    margin-top: 20px;
  }
  .quote-form.style2 {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-right a {
    font-size: 16px;
    margin-right: 35px;
  }
  .user-form h2 {
    font-size: 38px;
    line-height: 42px;
  }
  .user-form form.login-form {
    padding: 50px;
  }
  .db-menu-wrap {
    padding: 10px 70px;
  }
  .db-menu-wrap h2 {
    font-size: 30px;
    line-height: 42px;
    margin: 0 0 20px;
  }
  .db-menu-wrap .db-menu a {
    height: 220px;
    margin: 10px 10px 30px;
    padding: 20px 25px;
  }
  .db-menu-wrap .db-menu a span {
    font-size: 16px;
  }
  .db-menu-wrap .db-menu a img {
    max-width: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .user-form form.login-form {
    width: 738px;
    margin: 0 auto;
  }
  .quote-form {
    width: 770px;
  }
}

@media only screen and (max-width: 1199px) {
  .user-form {
    padding: 80px 0 0px;
  }
  .db-wrap {
    padding: 50px 0 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .upload-part {
    padding: 55px 50px;
  }
  .upload-part h2 {
    font-size: 34px;
    line-height: 40px;
    margin: 0 0 25px;
  }
  .upload-part p {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px;
  }
  .upload-part .link {
    margin-bottom: 40px;
  }
  .upload-part .link.style2 {
    padding-left: 20px;
    font-size: 16px;
    line-height: 22px;
  }
  .upload-part .link.style2 span {
    width: 30px;
    height: 30px;
    top: 7px;
  }
  .upload-part .link.style2 span img {
    max-width: 10px;
    top: 9px;
  }
  .upload-part .link.style2::before {
    top: 20px;
  }
  .upload-part .upload-form label {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 22px;
  }
  .upload-part .upload-form input {
    width: 430px;
  }
  .upload-part.style2 h5 {
    margin: 40px 0 30px;
    font-size: 34px;
    line-height: 42px;
  }
  .upload-part.style2 p {
    margin: 0 0 40px;
  }
  .quote-form h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .user-form h2 {
    font-size: 38px;
    line-height: 42px;
  }
  .user-form form.login-form {
    padding: 50px;
  }
  .db-wrap .db-menu-wrap {
    padding: 10px 70px;
  }
  .db-wrap .db-menu-wrap a {
    padding: 10px 20px;
  }
  .db-wrap .db-menu-wrap a span {
    font-size: 16px;
    line-height: 28px;
  }
  .db-wrap .db-menu-wrap h2 {
    font-size: 32px;
  }
  .db-wrap .db-menu-wrap .db-menu.style2 a {
    min-width: 240px;
  }
}

@media only screen and (min-width: 1200px) {
  .login-wrapper.style2 {
    height: 100%;
    overflow: auto;
  }
  .user-form {
    padding: 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .db-wrap.style2 {
    height: auto;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  .db-wrap.style3 {
    padding-bottom: 180px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .user-form h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .user-form form.login-form {
    padding: 30px 40px;
  }
  .user-form form.login-form .form-group {
    margin-bottom: 20px;
  }
  .user-form form.login-form .form-group label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .user-form form.login-form .form-group input {
    height: 54px;
    padding: 10px 15px;
    font-size: 16px;
  }
  .user-form form.login-form button {
    padding: 15px;
    margin-top: 25px;
    font-size: 16px;
  }
  .db-menu-wrap {
    padding: 40px 250px 40px;
    height: 100%;
  }
  .db-menu-wrap h2 {
    font-size: 32px;
    line-height: 46px;
    margin: 0 0 20px;
  }
  .db-menu-wrap .db-menu a {
    height: 160px;
    margin: 0 0 20px;
    text-align: center;
    padding: 10px 25px;
  }
  .db-menu-wrap .db-menu a span {
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
  }
  .db-menu-wrap .db-menu a img {
    max-width: 34px;
  }
  .db-menu-wrap .db-menu.style2 a {
    max-width: 190px;
  }
  .upload-part {
    padding: 55px 50px;
  }
  .upload-part h2 {
    font-size: 34px;
    line-height: 40px;
    margin: 0 0 25px;
  }
  .upload-part p {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px;
  }
  .upload-part .link {
    margin-bottom: 40px;
  }
  .upload-part .link.style2 {
    padding-left: 20px;
    font-size: 16px;
    line-height: 22px;
  }
  .upload-part .link.style2 span {
    width: 30px;
    height: 30px;
    top: 7px;
  }
  .upload-part .link.style2 span img {
    max-width: 10px;
    top: 9px;
  }
  .upload-part .link.style2::before {
    top: 20px;
  }
  .upload-part .upload-form label {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 22px;
  }
  .upload-part.style2 h5 {
    margin: 40px 0 30px;
    font-size: 34px;
    line-height: 42px;
  }
  .upload-part.style2 p {
    margin: 0 0 40px;
  }
  .quote-form h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .db-wrap.style3 {
    padding-bottom: 80px;
  }
}

@media only screen and (min-width: 1400px) {
  .db-wrap .db-menu-wrap {
    padding-left: 220px;
    padding-right: 220px;
  }
  .db-wrap .db-menu-wrap a {
    padding: 20px 20px;
    height: 220px;
    margin: 10px 10px 30px;
  }
  .db-wrap .db-menu.style2 a {
    max-width: 250px;
  }
  .user-form {
    padding-top: 125px;
  }
  .db-wrap.style3 {
    padding-bottom: 180px;
  }
  .upload-part h2 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1600px) {
  .user-form {
    padding-top: 125px;
  }
  .db-wrap.style3 {
    padding-bottom: 180px;
  }
  .upload-part h2 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1920px) {
  .user-form {
    padding-top: 135px;
  }
  .user-form .login-logo {
    max-width: 500px;
  }
  .container {
    max-width: 1780px;
  }
  .db-wrap .db-menu-wrap {
    padding-left: 410px;
    padding-right: 410px;
  }
  .db-wrap .db-menu-wrap a {
    padding: 20px 25px;
    height: 240px;
    margin: 10px 10px 30px;
  }
  .db-wrap .db-menu-wrap .db-menu.style2 a {
    max-width: 278px;
  }
  .db-wrap.style3 {
    padding-bottom: 200px;
  }
  .upload-part h2 {
    font-size: 45px;
  }
}

@media all and (-ms-high-contrast: none) {
  .db-wrap .db-menu-wrap a {
    margin: 10px 20px 30px !important;
  }
}
/*# sourceMappingURL=style.css.map */